*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
header{
    width: 100%; height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("bd4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    width: 100%; height: 15%;
    background-color: rgba(0,0,0,0.3);
    color: crimson; display: flex; justify-content: space-between;
    align-items: center; text-transform: uppercase;
    
}

nav .logo{
   
    width: 25%;
    /*background:chocolate;*/
    color: #00b894;
    text-align:center;
    

}
nav .menu
{
     width: 40%; /*background: rgb(187, 187, 43);*/
     display: flex;justify-content:space-around;
     font-size: 20px;
}
nav .menu a{
    width:auto;
    display: flex;justify-content:right;
    text-decoration: none; color: white;
   
}

nav .menu a:nth-child(1){
    color: #00b894;
}

main{
    width: 100%;
    height: 85%;
    /*background:royalblue;*/
    display: flex;
    justify-content: center;
    align-items:center ;
    text-align: center;
    
    
}
section{

}

section h1{
    margin: 20px 0 20px 0;
    font-size: 50px;
    font-weight: 500;
    text-shadow: 2px 2px 4px white;
    color:black;
    text-transform: uppercase;

}

section a{
    
    width: auto;
    padding: 1px 50px;
    border-radius: 1px;
    outline: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    text-decoration:none;
    letter-spacing: 1px;
    color: white;


}

section .btnone{
    background: #fff;
    color:#000;
}

section .btntwo{
    background: #00b894;
    color: white;
}

.change_content:after{
    content:'';
    animation: changetext 10s infinite linear;
    color:#00b894;

}

@keyframes changetext{
    0%{
        content: "Sundorban";
        background-image: url("sb.jpg");
    }
    15%{
        content:"Cox's-Bazar";
        background-image: url("cb.jpg");
    }
    30%{
        content: "Sajek";
        background-image: url("sjk.jpg");
    }
    50%{
        content: "Rangamati";
        background-image: url("rm.jpg");
    }
    70%{
        content: "Saint-martin";
        background-image: url("bd4.jpg");
    }
    100%{
        content:"Bandarban";
        background-image: url("bb.jpg");
    }
}
